* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

/* Main page */
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-top: 20px;
}

/* Logo + text */
.logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
}

.logo {
  width: 90px;
  height: auto;
  object-fit: contain;
}


/* Booth */
.booth-container {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booth {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

/* Select button */
.select-button {
  width: 172px;
  height: 52px;

  margin-top: 30px;
  margin-bottom: 18px;

  background-color: #ffffff;
  color: #555555;

  border: 1px solid #555555;
  border-radius: 8px;

  font-family: Georgia, serif;
  font-size: 24px;
  font-weight: 400;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.select-button:hover {
  transform: scale(1.05);
}

/* Mobile */
@media (max-width: 768px) {

  .home {
    padding-top: 15px;
  }

  .logo {
    width: 80px;

  }


  .booth-container {
    width: 90vw;
    max-width: 500px;
  }

  .select-button {
    width: 150px;
    height: 48px;
    font-size: 21px;
  }
}